@page "/product"

@using MySql.Data;
@using MySql.Data.MySqlClient;
@using System.Data;

@using Data;

@inject Database DBConnect

<div class="container-fluid">
    <div class="d-flex flex-row">
        <table class= "table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">pro_id</th>
                    <th scope="col">pro_name</th>
                    <th scope="col">pro_price</th>
                    <th scope="col">pro_amount</th>
                        
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in dtproduct.Rows)
                {
                    string pro_id = row["pro_id"].ToString();
                    string pro_name = row["pro_name"].ToString();
                    string pro_price = row["pro_price"].ToString();
                    string pro_amount = row["pro_amount"].ToString();

                    <tr>
                        <th>@pro_id</th>
                        <th>@pro_name</th>
                        <th>@pro_price</th>
                        <th>@pro_amount</th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@code {
    DataTable dtproduct = new DataTable();

    protected override async Task OnInitializedAsync()
    {
        await SomeStartupTask();
        dtproduct = DBConnect.GetProductData();
    }
    Task SomeStartupTask()
    {
        return Task.CompletedTask;
    }
}



